@using Microsoft.AspNetCore.SignalR.Client
@using WzFrame.Entity.Workshop

@page "/desktop"
@layout UnauthorizedLayout
@inject WxService WxService
@inject HubService HubService
@inject NavigationManager NavigationManager
@inject EntityService<WxUser> UserService

<img src="/deskback.png" class="back-img" alt="背景" />
<div style="position:relative;padding: 30px 60px;">
    <Button OnClick="Total">总排名</Button>
</div>


@if (DeskInfos is not null)
{
    <div class="dlayout">
        @foreach ((int i, DeskInfo deskInfo) in DeskInfos.Index())
        {
            @if (deskInfo != null)
            {
                <div class="desktop">
                    <img class="desk" src="/desktop.png" />
                    <div class="north" @onclick="()=> Down(i, 0)">
                        <img class="icon" src="@deskInfo.User1.AvatarUrl" />
                        <p>@deskInfo.User1.NickName</p>
                    </div>
                    <div class="east" @onclick="()=> Down(i, 1)">
                        <img class="icon" src="@deskInfo.User2.AvatarUrl" />
                        <p>@deskInfo.User2.NickName</p>
                    </div>
                    <div class="south" @onclick="()=> Down(i, 2)">
                        <img class="icon" src="@deskInfo.User3.AvatarUrl" />
                        <p>@deskInfo.User3.NickName</p>
                    </div>
                    <div class="west" @onclick="()=> Down(i, 3)">
                        <img class="icon" src="@deskInfo.User4.AvatarUrl" />
                        <p>@deskInfo.User4.NickName</p>
                    </div>
                    <p class="index">第@(i + 1)桌</p>
                </div>
            }

        }
    </div>

}

<Modal @ref="BackdropModal" IsBackdrop="true">
    <ModalDialog Title="@Title" Size="Size.Small">
        <BodyTemplate>
            @for (int i = 0; i < Users.Count; i++)
            {
                <div class="line">
                    <p>@(i+1):</p>
                    <p class="name">@Users[i].NickName</p>
                    <p>@Users[i].TotalScore</p>
                </div>
            }
        </BodyTemplate>
    </ModalDialog>
</Modal>


@code {

    private DeskInfo[] DeskInfos { get; set; }
    private HubConnection? clientConnection;

    private string Title { get; set; }

    private Modal BackdropModal;

    private List<WxUser> Users { get; set; } = new List<WxUser>();


    protected override void OnInitialized()
    {
        DeskInfos = WxService.DeskInfos;
    }

    protected override async Task OnInitializedAsync()
    {
        await InitHub();
    }

    private Task OnEnterAsync(int value)
    {
        WxService.DesktopCount = value;
        DeskInfos = WxService.DeskInfos;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task InitHub()
    {
        clientConnection = new HubConnectionBuilder()
         .WithUrl(NavigationManager.ToAbsoluteUri("/client"))
         .Build();

        clientConnection.On("Update", Update);

        await clientConnection.StartAsync();
    }

    public void Update()
    {
        DeskInfos = WxService.DeskInfos;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public async Task Total()
    {
        Title = "总排名";
        Users = await UserService.entityRepository.AsQueryable().OrderByDescending(x => x.TotalScore).Take(50).ToListAsync();

        await BackdropModal.Show();
    }



    public void Down(int id,  int y)
    {
        WxService.Down(id, y);
    }
}
